<mat-nav-list>
    <div class='logo py-4'>
        <img src='https://st3.depositphotos.com/15833800/19569/v/600/depositphotos_195694660-stock-illustration-letters-logo-mm-template-for.jpg' alt='Company Logo'>
    </div>
    <mat-divider>

    </mat-divider>
    <h2 matSubheader class='mt-2'>LAYOUTS</h2>
    <a mat-list-item routerLink='/home' routerLinkActive='list-item-active'>
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink='/dashboard' routerLinkActive='list-item-active'>
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item  routerLink='/user' routerLinkActive='list-item-active'>
        <mat-icon>account_circle</mat-icon>User
    </a>
    <h2 matSubheader class='mt-2'>MANAGE</h2>
    <a mat-list-item  routerLink='/products' routerLinkActive='list-item-active'>
        <mat-icon>inventory_2</mat-icon>Products
    </a>
    <a mat-list-item routerLink='/data-prod' routerLinkActive='list-item-active'>
        <mat-icon>api</mat-icon>Propierties
    </a>
    <a mat-list-item>
        <mat-icon>sell</mat-icon>Promotions
    </a>
    <a mat-list-item>
        <mat-icon>trending_up</mat-icon>Reports
    </a>
    <a mat-list-item>
        <mat-icon>people</mat-icon>Clients
    </a>
</mat-nav-list>
